<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel='stylesheet' href='../css/formStyles.css'>
    <link rel='stylesheet' href='../css/agregar.css'>
    <title>heroes</title>
</head>
<body>
    <header>
        <section class='descuento'>
            <p>Descuentos 20%</p>
        </section>
        <section class='menu'>
            <h1>Card Super Heroes</h1>
        </section>        
    </header>
    <main>
        <form action="../index.html" method="get">
            
            <legend>Añadí tu super</legend>
           
            <p>Agregá tu personaje favorito completando las opciones.</p>
            <fieldset>
                <div class='columna'>
                    <label for='Nombre'>*Nombre</label>
                    <input type='text' id='nombre' name="Usuario" placeholder="Usuario" required>
                    <label for="Fecha">Fecha</label>
                    <input type='date' id='Fecha'name="Fecha">
                    <textarea>Descripción</textarea>
                </div>
                <div class='columna'>
                    <label for='especie'>*Especie</label>
                    <select id='especie' required>
                        <option disabled selected>Especie</option>
                        <option>Unkown</option>
                        <option>Heroe</option>
                        <option>Villano</option>
                    </select>
                    <label for='file'>Agregar Foto</label>
                    <input type='file' id='file' name="" placeholder="Seleccionar archivo">
                    <label for='checkbox'>Poderes</label>
                    <input type='checkbox' name='box' id='checkbox'> Volar
                    <input type='checkbox' name='box' id='checkbox'> Superinteligencia
                    <input type='checkbox' name='box' id='checkbox'> Vista de rayó láser
                    <input type='checkbox' name='box' id='checkbox'> Billetera gorda
                    <hr>
                    <label for='Tipo'>Tipo de personaje</label>
                    <input type='radio' name='box' id='Tipo'> Héroe / Heroina
                    <input type='radio' name='box' id='Tipo'> Héroe / Heroina
                </div>
            </fieldset>
            <button class="enviar"><a href='../index.html'>Añadir</a></button>
            
        </form>
    </main>
    <footer>
        <p>Todos los derechos reservados a FRONT END 1</p>
        <img src="../img/git.png" alt="">
    </footer>

</body>
</html>