form{
    background-color: #00669F;
    width: 60%;
    border-radius: 15px;
    color: #ffff;
    
}

form legend, p{
    text-align: center;
    
}
fieldset{
    display: flex;
    flex-direction: row;
    border: none;
}

form div {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.columna{
    padding: 20px;
    width: 50%;
}
button{
    background-color: #1CD1B0;
    color:black;
    width: 40%;
}
 div textarea{
    padding: 10px;
    height: 40%;
    margin-top: 15px;
    border-radius: 10px;
}
   div input, select{
     padding: 15px;
     border-radius: 15px;
     border:none;
     width: 100%;
     margin-top: 10px;
 }

 label{
     font-size: 20px;
 }

 input[type="file"]{
color:black;
font-size: 10px;
 }