@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
box-sizing: border-box;
margin:0;
font-family:'Roboto';
}

main{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/*header*/

.descuento{
    padding:10px;
    background-color: #1CD1B0; 
}

.menu{
    background-color: #00669F;
    color:#FFF9F9;
    height: 70px;
    padding: 10px;
    font-size: 30px;
    box-shadow: gray 0px 5px 10px;
    font-weight: lighter;
}

.menu h1{
    font-size: 30px;
}

/*main*/

.tarjeta{
    width:300px;
    height: 580px;
    margin:50px;
    background-color: #F3F3F3;
    position: relative;
    border-radius: 10px;
    box-shadow: gray 0px 10px 10px;
     
}

.fondo{
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}

.corazon{
    position:absolute;
    top: 20px;
    left: 20px;
}

.perfil{
    width: 120px;
    position:absolute;
    top: 120px;
    left: 90px;
    border-radius: 50%;
    box-shadow: gray 0px 5px 10px;  
}

 .tarjeta p{
    font-size: 14px;
    text-align: justify;
    position: absolute;
    top: 300px;
    padding:20px;
}

.tarjeta h3{
    text-align: center;
    padding-top: 70px;
    font-size: 30px; 
}

button{
    background-color: #00669F;
    color: #F3F3F3;
    padding: 10px 30px;
    position: absolute;
    top: 500px;
    left: 90px;
    text-align: center;
}

/*footer*/

footer{
    display: flex;
    justify-content: space-between;
    background-color: #00669F;
    color:#FFF9F9;
    font-size: 16px;
    padding: 20px;
    
 }

 footer p{
     width: 100%;
     text-align: center;
 }
 footer img{
     width: 100px;
     position: relative;
 }

 /*Media Queries*/

 @media(min-width:793px){
     .perfil2{
        display: none;
     }
 
 }

 @media(max-width: 799px){
 .tarjeta2{
    display: none;
}
}