@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
box-sizing: border-box;
margin:0;
font-family:'Roboto';
}

main{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.descuento{
    padding:10px;
    background-color: #1CD1B0;
   
}

.menu{
    background-color: #00669F;
    height: 80px;
    padding: 10px;
    font-size: 30px;
    box-shadow: gray 0px 5px 10px;
    font-weight: lighter;
}

footer{
    background-color: #00669F;
    color:#FFF9F9;
    font-size: 16px;
    padding: 20px;
 }

.tarjeta{
    width:300px;
    height: 530px;
    margin:50px;
    background-color: #F3F3F3;
    position: relative;
    border-radius: 10px;
    box-shadow: gray 0px 10px 10px;
     
}

.corazon{
    position:absolute;
    top: 20px;
    left: 20px;
}

.perfil{
    position:absolute;
    top: 120px;
    left: 90px;
    border-radius: 50%;
    box-shadow: gray 0px 5px 10px;  
}

 .tarjeta p{
    text-align: justify;
    position: absolute;
    top: 300px;
    padding:20px;
}

.tarjeta h3{
    text-align: center;
    padding-top: 70px;
    font-size: 30px; 
}

button{
    background-color: #00669F;
    color: #F3F3F3;
    padding: 10px 30px;
    position: absolute;
    top: 450px;
    left: 90px;
    text-align: center;
}