@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    font-family: 'Roboto';

}

/*menu*/

.oferta p{
   width: 100%;
}
.oferta{
    background-color:#222222;
    color:#ffff;
    display:  flex;
    font-size: 15px;
    padding:3px;
    
}

.idioma{
   display: flex;
   justify-content: space-between;
   justify-content: flex-end;
   
}

.idioma p{
    padding: 0px 10px; 
}
.nav{
    background-color: #F0A83E;
    display:flex;
    height: 60px;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px 10px 15px;
}

h1{
    color:#3C2313;
}
h1 span{
    color:#FFFFFF;
}
nav ul{
    display:flex;
    list-style-type: none;
    width: 500px;
    padding: 0px 10px;
    color:#ffff;
    justify-content: space-between;
}

nav ul li{
    padding: 10px;
}
/*banner*/

.banner{
    background-image:url('../img/banner.png');
    height: 90vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.banner h2{
    width: 400px;
    margin:0;
    background-color: #FFFFFF;
    font-size: 30px;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    color:#3C2313;
    position: relative;
    text-align: center;
    margin:20px 40px 0px 0px;
   
}

.banner p{
    width: 400px;
    font-size: 16px;
    margin:20px 35px 20px 0px;
    color:#3C2313;
    position: relative;
    text-align: center;
   
}

.banner button{
    width: 200px;
    background-color:#F0A83E;
    color:#ffff;
    padding: 20px 40px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin:0px 140px 122px 0px;
}

/*destacados*/

.destacados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destacados img{
    width: 120px;
    padding: 18px;
    
}

.destacados h2{
    font-size: 40px;
    color:#3C2313;
}

.destacados ul{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.destacados li{
    padding: 20px 30px 0px 0px;
}

/*productos*/

.productos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
   
}

.productos article img{
    width: 265px;
}

.productos article{
    background-color:#FBFAF6;
    text-align: center;
    font-weight: bold;
}

.productos article h3{
    color:#3C2313;
}

.productos article p{
    color:#F0A83E;
}
/*contactenos*/

.contactenos h2{
    text-align: center;
    color:#3C2313;
    font-size: 25px;
    margin-top: 60px;
}
.contactenos form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:40px;
}

.contactenos form .datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.contactenos form input{
    margin: 10px;
    background-color: #3C2313;
    color:#FFFFFF;
    font-size: 11px;
    width: 340px;
    height: 40px;
    border: none;
    border-radius: 15px;
    padding: 10px;   
}
.contactenos form button{
    font-size: 16px;
    color:#FFFFFF;
    width: 110px;
    padding: 9px;
    border: none;
    border-radius: 15px;
    margin: 10px;
}

.contactenos form .reset{
    background-color: #8A8787;
}

.contactenos form .enviar{
    background-color: #F0A83E;
}

/*suscribirse*/

footer .suscribirme{
    background-color: #F0A83E;
    display:flex;
    padding:20px;
}

/*footer*/

footer .localidad{
    background-color: #3C2313;
    color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

footer .localidad .localidad1{
    display: flex;
    flex-direction: column;
    
}

footer .localidad .localidad2{
   margin-right: 50px;
   font-size: 20px;
}

footer .localidad .localidad2 span{
    color:#F0A83E;
 }
 
.localidad article{
    display:flex;
}
.icono{
    background-color:#8A8787;
    border-radius: 50%;
    border: solid 5px #786960;
    padding: 10px;
    margin: 15px;
   
}

footer .localidad .info{
    display: flex;
    flex-direction: column;
    margin: 15px;
    color:#FFFFFF
}

footer .localidad p{
    color:#8A8787;
}

footer .localidad .localidad2 p{
   
    color:#FFFFFF
}

footer .derechos{
    background-color: #222222;
    color:#FFFFFF;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}
